.header{
    font-family: 'Inter', sans-serif;
    height: 56px;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}
.icon{
    max-width: 125px;
    width: 100%;
    display: flex;    
    align-items: center;
    justify-content: space-between;
    color: rgb(51, 49, 83);
    font-size: 24px;
  
    line-height: 100%;

    text-align: left;

    &::before{
        content: url(./../../img/logo-sign.svg);
            width: 24px;
            height: 24px;
    }

}
.registre{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    width: 162px;
    height: 100%;
    padding-right: 5px;
    span{display: block;

     height: 24px
     ;
    };
    .accaunt{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        margin-left: 15px;

        .ava{
            height: 20px;
            width: 20px;
            border-radius: 100%;
        }
        span{
            display: block;
            margin-left: 5px;
        }
    }
}
